
  
    <app-header></app-header>
  

    <div _ngcontent-c0="" class="fullList">
            <div _ngcontent-c0="" class="commit-tease">
                    <span style="color:#fff; font-weight:bold">Search Criteria</span>
                    <span _ngcontent-c0="" class="pull-right">
               <!--        <input _ngcontent-c0="" class="btn-primary" data-target="#mdlCreateCase" data-toggle="modal" type="button" value="Create"> -->
                    </span>
                    <div _ngcontent-c0="" class="commit-tease-contributors">



<!-- Container Starts  (ngSubmit)="search()"-->

<div class= "container">
<div class="row">
    <div class="col-md-2">
      <label class="control-label" for="txtname">Customer Name</label> 
      </div>
  <div class="col-md-2">
        <input class="form-control ng-untouched ng-pristine ng-valid" [(ngModel)] = "model.custname"  id="txtname" name="txtname" type="text" name="txtname">
  </div>
  <div class="col-md-2">
      <label class="control-label" for="txtname">Po Date from</label> 
      </div>
  <div class="col-md-2">  
      <input class="form-control" name="txtname" type="date" [(ngModel)] = "model.pofmdate">
  </div>
  <div class="col-md-2">
      <label class="control-label" for="txtname">Po Date To </label> 
      </div>
  <div class="col-md-2">
      <input class="form-control ng-untouched ng-pristine ng-valid" [(ngModel)] = "model.potodate" id="txtname" name="txtname" type="date" name="txtname">
  </div>
    </div>


  
  <div class="row">
      <div class="col-md-2">
          <label class="control-label" for="txtname">ItemCode</label> 
      </div>
      <div class="col-md-2">
          <input class="form-control ng-untouched ng-pristine ng-valid" id="txtname" [(ngModel)] = "model.itemcode" name="txtname" type="text" name="txtname">
      </div>
      <div class="col-md-2">
        <label class="control-label" for="txtname">Rejection Date From</label> 
      </div>
      <div class="col-md-2">
        <input class="form-control ng-untouched ng-pristine ng-valid" type="date" [(ngModel)] = "model.rejectfmdate" name="txtname">
    </div>
    <div class="col-md-2">
            <label class="control-label" for="txtname">Rejection Date To</label> 
            </div>
        <div class="col-md-2">
            <input class="form-control ng-untouched ng-pristine ng-valid" [(ngModel)] = "model.rejecttodate" id="txtname" name="txtname" type="date" name="txtname">
      </div>
    </div>
    
    
    <div class="row">
        <div class="col-md-2">
            <label class="control-label" for="txtname">Po Number</label> 
        </div>
        <div class="col-md-2">
            <input class="form-control ng-untouched ng-pristine ng-valid" [(ngModel)] = "model.ponum" id="txtname" name="txtname" type="number" name="txtname">
        </div>
        <div class="col-md-2">
        <label class="control-label" for="txtname">Quantity From</label> 
    </div>
      <div class="col-2">
          <input class="form-control ng-untouched ng-pristine ng-valid" [(ngModel)] = "model.quantfm" id="txtname" name="txtname" type="number" name="txtname">
      </div>
      <div class="col-md-2">
          <label class="control-label" for="txtname">Quantity To</label> 
          </div>
      <div class="col-2">
          <input class="form-control ng-untouched ng-pristine ng-valid" [(ngModel)] = "model.quantto" id="txtname" name="txtname" type="number" name="txtname">
        </div>
    </div>

    <div class="row">
        <div class="col-md-2">
            <label class="control-label" for="txtname">Event ID</label> 
            </div>
      <div class="col-2">
          <input class="form-control ng-untouched ng-pristine ng-valid" [(ngModel)] = "model.eventid" id="txtname" name="txtname" type="number" name="txtname">
      </div>
      <div class="col-md-2">
            <label class="control-label" for="txtname">Amount Range From</label> 
          </div>
      <div class="col-2">
          <input class="form-control ng-untouched ng-pristine ng-valid" [(ngModel)] = "model.amtfm" id="txtname" name="txtname" type="number" name="txtname">
      </div>
      <div class="col-md-2">
          <label class="control-label" for="txtname">Amount Range To</label> 
          </div>
        <div class="col-2">
            <input class="form-control ng-untouched ng-pristine ng-valid" [(ngModel)] = "model.amtto" id="txtname" name="txtname" type="number" name="txtname">
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <label class="control-label" for="txtname">Item Code</label> 
            </div>
      <div class="col-2">
          <input class="form-control ng-untouched ng-pristine ng-valid" [(ngModel)] = "model.item" id="txtname" name="txtname" type="text" name="txtname">
      </div>

      <div class="col-md-2">
        <label class="control-label" for="txtname">Status</label> 
        </div>
    <select class="col-md-2 widthDiff">
        <option selected>Choose...</option>
        <option value="Bid Submission">Bid Submission</option>
        <option value="Accept Proposal">Accept Proposal</option>
        <option value="Create Bid">Create Bid</option>
      </select>    
    </div>


<div class="col-md-12" style="text-align:center; padding:12px 0 5px 0 ">
    <input _ngcontent-c0="" (click)="search()" class="btn btn-primary btn-lg" type="button" value="Search">
  </div>
</div>   <!-- container Close -->

</div>
</div>
</div>

                        <div class="fullList">
                                <table class ="table table-striped">
                                        <thead>
                                        <tr>
                                          <th>Event ID</th>
                                          <th>Customer Name</th>
                                          <th>Po Number</th>
                                          <th>Item Code </th>
                                          <th>Item Desc </th>
                                          <th>Quantiy</th>
                                          <th>Amount</th>
                                          <th>PO Date</th>
                                          <th>Reject Date</th>
                                          <th>Status</th>
                                          <th>Action</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                            <tr  *ngFor="let user of searchDeatilsData | paginate: { itemsPerPage: 10, currentPage: p }">
                                                <td>{{user.EventID}}</td>
                                                <td>{{user.Customername}}</td>
                                                <td>{{user.PONumber}}</td>
                                                <td>{{user.Itemcode}}</td>
                                                <td>{{user.Itemdesc}}</td>
                                                <td>{{user.Quantity}}</td>
                                                <td>{{user.Amount}}</td>
                                                <td>{{user.PODate}}</td>
                                                <td>{{user.RejectDate}}</td>
                                                <td>{{user.Status}}</td>
                                                <td>
                                                    <select class="">
                                                        <option selected>Choose...</option>
                                                        <option value=" Pending Proposal"> Pending Proposal
                                                        <option value="Proposal Accepted">Proposal Accepted
                                                        <option value="Bid created">Bid created
                                                    </select>
                                                </td>
                                            </tr>
                                        </tbody>
                                       </table>
                                       <pagination-controls (pageChange)="p = $event"></pagination-controls>
                                    </div>

<app-footer></app-footer>